body{
    background-color: beige;
    margin: 20px 0px 20px 0px;
    font-family: arial;
    font-size: 12pt
}

h1{
     text-align: center;
}

.Page{
    display: block;
    width: 1000px;
    /* min-height: 800px; */
    overflow: auto;
    margin: 0px auto 0px auto;
    box-sizing: border-box;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

li {
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(active){
    background-color: darkseagreen;
}


li .catalog{
    display: inline-block;
}

.catalog-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.catalog-content a{
    color: black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.catalog-content a:hover{
    background-color: #f1f1f1;
}

.catalog:hover .catalog-content{
    display: block;
}

.Ads img{
   position: absolute;
   top: 200px;
   right: 250px;
   width: 450px;
   height: 250px;
   border: 2px solid black;
   margin-right: 20px;
}

.AdsText {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 450px;
    height: 250px;
    margin-left: 25px;
    padding:10px;   
}

.AdsText h2{
    width: 300px;
}

.AdsText p{
    width: 300px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}


